<div class="container-fluid">
    <header>
        <%= react_component('ToggleNavigationBar', {
            laastras_actions: @laastras_actions,
            logo_image_url: @logo_image_url,
            supported_languages: @supported_languages, 
            locale_end_point: url_for(controller: 'laastras', action: 'locale'),
            social_media_data: @social_media_data,
            home_action_url: url_for(controller: 'laastras', action: 'home'),
            active_language_locale: I18n.locale.to_s
        }) %>
    </header>

    <main role="main" style="margin-top: 5px">
        <div style="margin-top: 5px; margin-bottom: 5px" data-aos="fade-up">
            <%= react_component('LaastrasIntroCapture', {
                laastras_sample_services: @laastras_sample_services
            })%>
        </div>
        <div style="margin-top: 5px; margin-bottom: 5px" data-aos="fade-up">
            <%= react_component('MissionKickOff', {
                mission_kick_off_data: @mission_kick_off_data,
                kick_off_section_title: @kick_off,
                click_or_tap_image_text: @tap_click_image
            })%>
        </div>
        <div style="margin-top: 5px; margin-bottom: 5px; background-color: white" data-aos="fade-up">
            <%= react_component('LaastrasVision', {
                laastras_vision_html: (sanitize @laastras_vision),
                vision_title_inner_text: @vision
            })%>
        </div>
    </main>

    <footer data-aos="fade-up">
        <%= react_component('SiteFooter', {
            footer_actions: @footer_actions,
            social_media_data: @social_media_data,
            copy_right_text: @copy_right
        })%>
    </footer>
</div>
