<div class="container-fluid">
    <header>
        <%= react_component('LaastrasNavigationBar', {
            laastras_actions: @laastras_actions,
            logo_image_url: @logo_image_url,
            laastras_user_is_logged_in: @laastras_user_is_logged_in,
            supported_languages: @supported_languages, 
            locale_end_point: url_for(controller: 'laastras', action: 'locale'),
            active_language_locale: I18n.locale.to_s,
            sign_in_label: (I18n.t 'sign_in_label'),
            sign_in_url: url_for(controller: 'laastras', action: 'sign_in'),
            sign_up_label: (I18n.t 'sign_up_label'),
            sign_up_url: url_for(controller: 'laastras', action: 'sign_up'),
            sign_out_label: (I18n.t 'sign_out_label'),
            sign_out_url: url_for(controller: 'laastras', action: 'sign_out'),
            profile_photo_url: @profile_photo_url,
            show_profile_url: @show_profile_url,
            home_action_url: url_for(controller: 'laastras', action: 'home'),
            language_icon: @language_icon
        }) %>
    </header>
    <div class="row justify-content-center">
    <div class="col-md-8">
    <main role="main" style="margin-top: 5px">
        <div style="margin-top: 5px; margin-bottom: 5px">
            <%= react_component('LaastrasIntroCapture', {
                laastras_sample_services: @laastras_sample_services,
                laastras_e_logo_urls: @laastras_e_logo_urls,
                job_offers_label: (I18n.t 'job_offers_label'),
                featured_job_offers: @featured_job_offers,
                key_services_label: (I18n.t 'key_services_label')
            })%>
        </div>
        <div style="margin-top: 5px; margin-bottom: 5px">
            <%= react_component('MissionKickOff', {
                mission_kick_off_data: @mission_kick_off_data,
                kick_off_section_title: @kick_off,
                click_or_tap_image_text: @tap_click_image
            })%>
        </div>
        <div style="margin-top: 5px; margin-bottom: 5px; background-color: white" data-aos="fade-up">
            <div class="shadow-sm p-1 mb-2 bg-white rounded" 
                 style="margin: 4px">
                <div class="shadow-none p-1 mb-2 rounded" 
                     style="background-color: #08f7ce">
                    <span style="font-size: 24px; font-weight: bold; color: white"> 
                        <%= @vision %>
                    </span>
                </div>
                <div>
                    <p id="box-body-text-p" style="font-size: 12px">   
                        <%= sanitize @laastras_vision, tags: %w(div a ul li iframe p br), attributes: %w(class src href allowfullscreen) %>       
                    </p>
                </div>
            </div>
        </div>
    </main>
    </div>
    </div>

    <footer id="laastras-home-footer">
        <%= react_component('SiteFooter', {
            footer_actions: @footer_actions,
            social_media_data: @social_media_data,
            copy_right_text: @copy_right
        })%>
    </footer>

    <script>
        let iframe_elt = document.getElementById('embedded-video-teaser');
        if(iframe_elt)
        {
            iframe_elt.allowFullscreen = true;
        }
        else
        {
            iframe_elt = document.getElementsByClassName('embedded-video-teaser')[0];
            if(iframe_elt)
            {
                iframe_elt.allowFullscreen = true;
            }
        }
    </script>

</div>
