<div class="container">
    <header>
        <%= react_component('SiteHeader', {
            laastras_actions: @laastras_actions,
            locale_end_point: url_for(controller: 'laastras', action: 'locale'),
            social_media_data: @social_media_data,
            supported_languages: @supported_languages
        }) %>
    </header>
    <hr>
    <main role="main">
        <div class="text-center" style="background-color: #c13ead; border-radius: 5px;">
            <div style="padding: 3px; margin: 3px;">
                <p style="font-size: 18px; font-weight: bold; color: white; padding: 3px">
                    <% count = 0 %>
                    <% @laastras_sample_services.each do |service| %>  
                        <% if count == @laastras_sample_services.length-1 %>
                            <%= service %>  
                        <% else %>
                            <%= service + ' • ' %>
                        <% end %>
                        <% count += 1%>  
                    <% end %>
                </p>
            </div>
        </div>
        <hr>
        <%= react_component('MissionKickOff', {
            mission_kick_off_data: @mission_kick_off_data, 
            section_title: @kick_off
        }) %>
        <hr>
        <div class="shadow-sm p-1 mb-2 bg-white rounded" style="margin: 4px">
            <div class="shadow-none p-1 mb-2 rounded" style="background: #08f7ce;">
                <span style="font-size: 24px; font-weight: bold; color: white"> <%= @vision %> </span>
            </div>
            <div style="padding: 3px;">
                <p> 
                    <%= sanitize @laastras_vision %>
                </p>
            </div>
        </div>
    </main>
    <hr>
    <footer>
        <%= react_component('SiteFooter', {
            footer_actions: @footer_actions,
            social_media_data: @social_media_data,
            copy_right_text: @copy_right
        })%>
    </footer>
</div>
