<div class="container">
    <header>
        <%= react_component('SiteHeader', {
            laastras_actions: @laastras_actions,
            locale_end_point: url_for(controller: 'laastras', action: 'locale'),
            supported_languages: @supported_languages
        }) %>
    </header>
    <hr>
    <main role="main">
        <div class="text-center" style="background-color: #e3f2fd; border-radius: 3px;">
            <div style="padding: 3px; margin: 3px;">
                <p style="font-size: 18px; padding: 3px">
                    <% count = 0 %>
                    <% @laastras_sample_services.each do |service| %>  
                        <% if count == @laastras_sample_services.length-1 %>
                            <%= service %>  
                        <% else %>
                            <%= service + ' • ' %>
                        <% end %>
                        <% count += 1%>  
                    <% end %>
                </p>
            </div>
        </div>
        <hr>
        <%= react_component('MissionKickOff', {
            mission_kick_off_data: @mission_kick_off_data, 
            section_title: @kick_off
        }) %>
        <div class="shadow-sm p-1 mb-2 bg-white rounded" style="margin: 4px">
            <div class="shadow-none p-1 mb-2 bg-light rounded">
                <span style="font-size: 32px; font-weight: bold"> <%= @mission %> </span>
            </div>
            <div>
                <p> 
                    <%= @globalization_intro %>
                </p>
            </div>
        </div>
    </main>
    <footer class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="text-center"> &copy; <%= @copy_right %> </div>
        <section>
        
            <%= react_component('SiteFooterLinks', {
                footer_actions: @footer_actions
                #parent_max_width: 1124
            })%>
            
        </section>
        <section>
        
            <%= react_component('SocialMediaShare', {
                social_media_data: @social_media_data
                #parent_max_width: 1124
            })%>
        
        </section>
    </footer>
</div>
