
<br>
<div class="container">
    <div style="background-color: white">
        <p id="notice"><%= notice %></p>

        <h1>Users</h1>

        <table>
            <thead>
                <tr>
                    <th><%= I18n.t 'email' %></th>
                    <th><%= I18n.t 'first_name' %></th>
                    <th><%= I18n.t 'last_name' %></th>
                    <th colspan="3"></th>
                </tr>
            </thead>

            <tbody>
                <% @users.each do |user| %>
                    <tr>
                        <td><%= user.email %></td>
                        <td><%= user.first_name %></td>
                        <td><%= user.last_name %></td>s
                        <td><%= link_to (I18n.t 'show_label'), user %></td>
                        <td><%= link_to (I18n.t 'edit_label'), edit_user_path(user) %></td>
                        <td><%= link_to (I18n.t 'destroy_label'), user, method: :delete, data: { confirm: (I18n.t 'model_confirm_capture') } %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>

        <br>

        <%= link_to (I18n.t 'new_user'), new_user_path %> | 
        <%= link_to (I18n.t 'home_label'), root_path %>
    </div>
</div>
