
<br>
<div class="container">
    <div class="text-center" style="background-color: white">
        <p id="notice"><%= @notice %></p>
        <div>
            <h2><%= I18n.t 'login_capture' %></h2>
        </div>
        <div>
            <%= form_tag :action => 'check_credentials', options: {role: 'form'} do %>
                <div class="field form-group">
                    <%= label :login, (I18n.t 'email') %>
                    <%= text_field 'login', 'email', options: {class: 'form-control'} %>
                </div>
                <div class="field form-group">
                    <%= label :login, (I18n.t 'password') %>
                    <%= password_field 'login', 'password', options: {class: 'form-control'} %>
                </div>
                <div class="actions">
                    <%= submit_tag (I18n.t 'submit_label') %> | 
                    <%= link_to (I18n.t 'home_label'), root_path %>
                </div>
            <% end %>
        </div>
    </div>
</div>
