
<br>
<div class="container">
    <div class="text-center" style="background-color: white">
        <div>
            <h2>Please login to continue</h2>
        </div>
        <div>
            <%= form_tag :action => 'check_credentials', options: {role: 'form'} do %>
                <div class="field form-group">
                    <%= label :login, 'E-mail' %>
                    <%= text_field 'login', 'email', options: {class: 'form-control'} %>
                </div>
                <div class="field form-group">
                    <%= label :login, 'Password' %>
                    <%= password_field 'login', 'password', options: {class: 'form-control'} %>
                </div>
                <div class="actions">
                    <%= submit_tag "Submit" %> | 
                    <%= link_to 'Home', root_path %>
                </div>
            <% end %>
        </div>
    </div>
</div>
