
<div class="container-fluid" style="margin: 10px">
    <div class="text-center"> 
        <h1> <%= I18n.t 'website_analytics_label' %> </h1>
    </div>
    <% @page_analytics.each do |analytics| %>
        <div style="margin: 5px">
            <p> <strong> <%= I18n.t 'number_of_visits' %>: </strong> <%= analytics[:number_of_visits] %> </p>
            <p> <strong> <%= I18n.t 'number_of_visitors' %>: </strong> <%= analytics[:number_of_visitors] %> </p>
            <p> <strong> <%= I18n.t 'page_visited' %>: </strong> <%= analytics[:page] %> </p>
        </div>
        <hr>
    <% end %>
</div>