<p id="notice"><%= notice %></p>

<h1>Site Languages</h1>

<table>
  <thead>
    <tr>
      <th>Language</th>
      <th>User session</th>
      <th>User ip</th>
      <th>User browser</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @site_languages.each do |site_language| %>
      <tr>
        <td><%= site_language.language %></td>
        <td><%= site_language.user_session %></td>
        <td><%= site_language.user_ip %></td>
        <td><%= site_language.user_browser %></td>
        <td><%= link_to 'Show', site_language %></td>
        <td><%= link_to 'Edit', edit_site_language_path(site_language) %></td>
        <td><%= link_to 'Destroy', site_language, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site Language', new_site_language_path %>
