<!DOCTYPE html>
<html>
  <head>
    <title><%= @site_title.nil? ? 'Laastras' : @site_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="<%= @site_description.nil?  ? 'A collection of IoT services that aim at fulfilling LaaS policy' : @site_description %>">
    
    <% # 35 characters %>
    <meta property="og:title" content="<%= @open_graph_proto_title.nil? ? 'LaaS Policy Application' : @open_graph_proto_title %>" />
    <meta property="og:url" content="<%= @open_graph_proto_site_url.nil? ? 'https://laastras.herokuapp.com' : @open_graph_proto_site_url %>" />
    <% # 65 characters %>
    <meta property="og:description" content="<%= @open_graph_proto_description.nil? ? 'Meet globalization challenges and constraints' : @open_graph_proto_description %>" />
    <% # Image type PNG or JPG size less than 300KB and minimum pixels 300x200 %>
    <meta property="og:image" content="<%= @open_graph_proto_image_url.nil? ? 'https://am3pap006files.storage.live.com/y4mifbCvsJK2o8wgIV3PwP4Zn_eEu4976Y9BnPdfDeuIAibBA0wH43bf_gVNWLTHgvOTm8YEnNf0RKmrIqg378mado77VKR-f8VOLyG4qVmAEIgOxI2Ln99dOqk5X53j7knt7VlN0zuUmY4V-PnIchaosoJ1xYKnYW9R16OKaRlMFdIgtQiiM6Lj6o2ksHh5GfR?width=609&height=410&cropmode=none' : @open_graph_proto_image_url %>" />
    <% # see https://opengraphprotocol.org/#types %>
    <meta property="og:type" content="website" />
    <% # Examples: en_US, en_GB. => locale_TERRITORRY %>
    <meta property="og:locale" content="<%= @open_graph_proto_locale.nil? ? I18n.default_locale.to_s.gsub(/-/, '_') : @open_graph_proto_locale %>" />
    <% # Alternate locales %>
    <% if (!I18n.available_locales.nil?) %>
      <% I18n.available_locales.each do |locale| %>
        <% if((locale.to_s != @open_graph_proto_locale) && (locale.to_s != I18n.default_locale.to_s.gsub(/-/, '_'))) %>
          <meta property="og:locale:alternate" content="<%= locale.to_s.gsub(/-/, '_') %>" />
        <% end %>
      <% end %>
    <% end %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-image: url('<%= @site_background_image_url %>');
               background-repeat: no-repeat;
               background-attachment: fixed;
               background-size: cover;">
    <%= yield %>
  </body>
</html>
